@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'theme.css';
@import 'prose.css';

* {
  box-sizing: border-box;
}

html,
body,
body > div:first-child {
  height: 100%;
}

a,
input,
button {
  outline: 0;
}

[data-rehype-pretty-code-figure] pre {
  overflow-x: auto;
  padding: 1rem 0;
}

[data-rehype-pretty-code-figure] [data-line] {
  padding: 0 1.5rem;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
