:root {
  --background: #fff;
  --surface: #f9f9fb;

  --border: #eff0f3;
  --border-accent: #cdced7;

  --foreground: #374151;
  --foreground-accent: #111827;
  --foreground-muted: #0002119d;

  --primary: #7146fc;
  --primary-accent: #643ee1;
  --primary-surface: #0000ff0f;
  --primary-foreground: #fff;

  --card: #fff;
  --card-foreground: #1e1f24;

  --info: #009ceb1a;
  --info-foreground: #003b59;

  --tip: #02f99920;
  --tip-foreground: #005937;

  --warn: #f7be6824;
  --warn-foreground: #4d361a;

  --danger: #ff41331a;
  --danger-foreground: #821006;
}

.dark {
  --background: #1a1a1b;
  --surface: #d6e2f916;

  --border: #222325;
  --border-accent: #46484f;

  --foreground: #b0b0b0;
  --foreground-accent: #ebebeb;
  --foreground-muted: #eff0feb9;

  --primary: #b59eff;
  --primary-accent: #bca5ff;
  --primary-surface: #8152fe37;
  --primary-foreground: #fff;

  --card: #19191b;
  --card-foreground: #eeeef0;

  --info: #079ae31a;
  --info-foreground: #d7f3fa;

  --tip: #02f99920;
  --tip-foreground: #d7faed;

  --warn: #f0bb6c24;
  --warn-foreground: #ede7da;

  --danger: #f746391a;
  --danger-foreground: #f7e5e4;
}
